{% extends "base.html" %}

{% block title %}
AURA | Categories
{% endblock %}


{% block content %}

<header class="top-header">

    <div>
        <h2>Categories</h2>
        <p>Sales performance across product categories.</p>
    </div>

</header>


<section class="kpi-grid">

    <div class="kpi-card">
        <p>Top Wear</p>
        <h2>40.2%</h2>
    </div>

    <div class="kpi-card">
        <p>Bottom Wear</p>
        <h2>24.6%</h2>
    </div>

    <div class="kpi-card">
        <p>Ethnic Wear</p>
        <h2>15.8%</h2>
    </div>

    <div class="kpi-card">
        <p>Footwear</p>
        <h2>10.7%</h2>
    </div>

</section>


<section class="panel">

    <h3>Category Distribution</h3>

    <div class="fake-chart">
        Category Sales Analysis
    </div>

</section>

{% endblock %}