{% extends "base.html" %}

{% block title %}
AURA | Returns
{% endblock %}


{% block content %}

<header class="top-header">

    <div>
        <h2>Returns & Exchanges</h2>

        <p>
            Monitor product returns and exchange activity.
        </p>
    </div>

</header>


<section class="kpi-grid">

    <div class="kpi-card">
        <p>Total Returns</p>
        <h2>206</h2>
    </div>

    <div class="kpi-card">
        <p>Return Rate</p>
        <h2>8.4%</h2>
    </div>

    <div class="kpi-card">
        <p>Exchanges</p>
        <h2>86</h2>
    </div>

    <div class="kpi-card">
        <p>Refund Amount</p>
        <h2>₹84,500</h2>
    </div>

</section>

{% endblock %}